.conference-talk {
  width: 80%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.title {
  color:black;
}

a {
  text-decoration: none;
}
