* {
  text-align: center;
  -webkit-user-select: none;
}

.topItems {
  display: inline-block;
  margin: 0;
  width: 200px;
}

#title {
  width: 300px;
  font-size: 30px;
  margin: 0;
}

#redPlayer {
  background-color: red;
  color: black;
}

#blackPlayer {
  background-color: black;
  color: red;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #e6e600;
  cursor: pointer;
}

h3 {
  position: absolute;
  width:97%;
  font-size: 90px;
  color: lightseagreen;
}
