<div *ngIf="selectingPlayers" class="jumbotron text-center">
  <h3 class="mb-3">Players</h3>
  <form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-sm-12">
      <div class="input-group w-25 mx-auto mb-3">
        <div class="input-group-prepend">
          <div class="red-square"></div>
        </div>
        <input type="text" class="form-control" placeholder="Player One" formControlName="playerOneName">
      </div>
      <div class="input-group w-25 mx-auto mb-3">
        <div class="input-group-prepend">
          <div class="black-square"></div>
        </div>
        <input type="text" class="form-control" placeholder="Player Two" formControlName="playerTwoName">
      </div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="form.invalid">Start Game</button>
  </form>
</div>
<div *ngIf="!selectingPlayers">
  <app-connect-four [playerOneName]="playerOneName" [playerTwoName]="playerTwoName"></app-connect-four>
</div>
